<html ng-app="fileshareApp">
  <head>
    <title>Fileshare</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/angular.js"></script>
    <script src="/static/js/app.js"></script>
  </head>
  <body>


    <div ng-controller="ShareCtrl">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              {{ currentPath }}
            </th>
            <th>
              File-type
            </th>
          </tr>
        </thead>
        <tr ng-repeat="item in index">
          <td>
            <a href="#" ng-click="handleItem(item)">
              {{ item.path.match(lastPathElementRegexp)[0] }}
            </a>
          </td>
          <td>
            {{ item.kind }}
            {{ item.fileType }}
            {{ item.detailType }}
          </td>
        </tr>
    </div>


  </body>
</html>
